<div class="container-fluid">
  <h1>This is 3rd App</h1>
  <h2>Angular Forms</h2>
<div class="row">
  <div class="col-5">
<app-tdfdemo></app-tdfdemo>
<app-mdfdemo></app-mdfdemo>
</div>
<div class="col">
  Some content goes here
</div>

<!--Two Types of Forms
    - Template Driven Form (Simple Requirement)
          -Easy to make and uses two way databinding to pass data from view to component and vice versa.
    - Model Driven Form (Widely Used)
          -Uses some inbuilt objects to pass data from view to component & vice versa without using two way databinding
    
    Note : we need to add Forms Module for Two Way databinding.
    Similarly we need to add ReactiveFormsModule for Model Driven Form
    Form, both the modules added on AppModule imports

    Template Driven Form

    It uses ngForm & ngModel directives of FormsModule to handle the form data

    Steps:
    Add FormsModule to the AppModule
    Generate a component
      a Create properties & functions that you need to access html
      b use ngform to create an object that stores form data
      c use ngModel that inititalizes the ngForm object

      Reactive FOrsm / Model Driven Forms

      It uses an inbuilt object called FormBuilder to handle the form data,
      this FormBuilder object is auromatically created by Angular when
      you use ReactiveFormsModule in the AppModule

      Drawbacks of Template Driven Form over Model Driven Form
      - Template Driven Form is not a good fit for Model Driven Form because you will have less control
      because form controls are created in HTML whereas in MDF form controls are created in TS i.e. , FormBuilder.group({})
      - TDF uses [(ngModel)], ngForm to handle Form Data but in MDF we can handle Form Data without using [(ngModel)]
      and ngForm. because of same form builder.group({}) which itself take care of two way data binding
      - auto populating forms or clearing forms at runtime need more code in tdf but in MDF its very simple,
      


      this.user.controls['first'].setValue('Guest'):// sets first name as guest in both view and component

      thos.user.reset({}); // clears form in view and component class

    Form Validation is done in the code in the case of MDF and in case of TDF its done in view

    user=this.builder.group({first:["",Validators.compose([Validators.required,Validators.minLength(3)])],
                              last:[],phone:[]});

    Form Control Properties

    These help in understanding form control properties like value,valid,invalid,pristine

    user.control['first'].value>>returns value of the control

    user.controls['first'].valid>> returns true or false

    user.controls['first'].pristine >> 

    Angular Services

    These are reusable classes which can be accessed by multiple componenets they can have business logics
     so that they are reusable to multiple components
     

     In Angular you have a command to create a service class

     #ng g s service-name

     The above command creates a class with @injectable()

     Things we do in service class 

     In service class we will have functions that can access backend API's

     Use Http Client object that help you to send request to backend api

     Making 4 types of request from HttpClient to make 4 types of operations which are called CRUD operations



  -->
  