<div class="container-fluid">
  <h1>This is 3rd App</h1>
  <h2>Angular Forms</h2>
  <!--Two Types of Forms
    - Template Driven Form (Simple Requirement)
          -Easy to make and uses two way databinding to pass data from view to component and vice versa.
    - Model Driven Form (Widely Used)
          -Uses some inbuilt objects to pass data from view to component & vice versa without using two way databinding
    
    Note : we need to add Forms Module for Two Way databinding.
    Similarly we need to add ReactiveFormsModule for Model Driven Form
    Form, both the modules added on AppModule imports

    Template Driven Form

    It uses ngForm & ngModel directives of FormsModule to handle the form data

    Steps:
    Add FormsModule to the AppModule
    Generate a component
      a Create properties & functions that you need to access html
      b use ngform to create an object that stores form data
      c use ngModel that inititalizes the ngForm object
  -->
  
</div>
<app-tdfdemo></app-tdfdemo>