<div class="container">
    <h3>
        Template Driven Form
    </h3>
        <form #user="ngForm" (ngSubmit)="handleSubmit(user.value)">
            <div class="container-fluid">
            <div class="form-group">
                <label>
                    First Name
                    <input type ="text" class="form-control" name="first" placeholder="firstname"
                     [(ngModel)]="first" required>
                </label>
            </div>
                <div class="form-group">
                    <label>
                        Last Name
                        <input type="text " class="form-control" name="last" placeholder="lastname"
                        ngModel>
                        </label>
                </div>
                    <div class="form-group">
                        <label>
                            Phone No
                            <input type="text" class="form-control" name="phone" placeholder="phoneno"
                            ngModel>
                        </label>
                    </div>
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
</div>